
.env
env/
venv/
pyexe

# Ignora pastas de cache do Python
__pycache__/
_____tmp.py

# Ignora arquivos de log
*.log

# Ignora arquivos de dados sensíveis
*.sqlite3

bin/
compiler_compat/
conda-meta/
etc/
include/
lib/
man/
share/
ssl/
x86_64-conda-linux-gnu/
x86_64-conda_cos7-linux-gnu/